$red: #E43126;
$orange: #ea6216;
$yellow: #f7c100;
$white: #FFF;
$blue: #26c3a0;
$gray: #cacaca;
$dark_gray: #767676;
$gradient: linear-gradient(90deg, rgba(234,98,22,1) 0%, rgba(247,193,0,1) 100%);
$transition: all .5s;
$poppins: 'poppinssemibold';
$inter: 'interregular';
$drop_shadow: drop-shadow(-5px 5px 3px #00000012);

@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interregular';
  src: url('../fonts/inter-regular-webfont.woff2') format('woff2'),
       url('../fonts/inter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: $poppins;
}

h2.title {
  // text-transform: uppercase;
  color: black;
}

h3.title {
  font-size: 1.5rem;
  color: black;
}

.section_about {
  font-style: italic;
  color: black;
}

ul.listing {
  padding-left: 0;
  li {
    list-style: none;
    position: relative;
    padding-left: 1rem;
    &::before {
      content: '';
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background: $gradient;
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
    }
    &:not(:last-of-type) {
      margin-bottom: .5rem;
    }
  }
}

body {
  overflow-x: hidden;
  font-family: $inter;
  color: $dark_gray;
  font-size: 12px;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

img {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0;
}

* {
  scrollbar-width: none;
}

// custom cursor

.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-cursor{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 2000;
  top: -40px;
  left: -40px;
  pointer-events: none; 
  //-webkit-mix-blend-mode: hard-light;
  //mix-blend-mode: hard-light;
}

.cursor__small{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $red;   
  z-index: 5;   
  margin: -5px 0 0 -5px;
}

.cursor__big{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: $red 2px solid;
  z-index: 1;   
  opacity: 1;
  margin: -40px 0 0 -40px;
  transform: scale(0);
  transition: all 320ms cubic-bezier(.26,.01,.17,1);
}

header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .header_background {
    background-image: url(../img/network.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // transform: scale(1.1);
    position: absolute;
    z-index: -1;
  }

  #animated_logo {
    max-width: 200px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.164));
  }
  h1 {
    color: $white;
  }
  .container {
    h1 {
      max-width: 30rem;
      font-size: 1.5rem;
      position: relative;
      &::after {
        content: '';
        height: 4px;
        width: 5rem;
        display: block;
        background: $gradient;
      }
    }
  }
}


nav {
  background-color: transparent;
  transition: $transition;
  font-size: .8rem;
  .navbar-brand {
    color: $white;
  }
  .navbar-nav {
    .nav-item {
      a {
        color: $white;
        transition: $transition;
        &:hover {
          color: $gray;
        }
      }
      .nav-link {
        padding: 1.2rem .5rem;
      }
    }
  }
  .btn {
    // background: $gradient;
    font-size: .8rem;
    color: $white;
    border: 2px solid $white;
    &:hover {
      color: $white;
    }
  }
  .logo {
    max-width: 100px;
  }
  .logo_dark {
    display: none;
  }
  .navbar-toggler {
    color: $white;
  }
}

nav.navbar-scrolled {
  background-color: $white;
  .navbar-nav {
    .nav-item {
      a {
        color: black;
        &:hover {
          color: $gray;
        }
      }
    }
  }
  .btn {
    // background: $gradient;
    font-size: .8rem;
    color: $blue;
    border: 2px solid $blue;
    &:hover {
      color: $blue;
    }
  }
  .logo_light {
    display: none;
  }
  .logo_dark {
    display: block;
  }
  .navbar-toggler {
    color: black;
  }
}

.navbar-toggler {
  padding: .5rem 0;
  border-color: $white;
  border-width: 2px 0;
  border-radius: 0;
  &:focus {
    box-shadow: none;
  }
}

.app_img {
  // height: 100%;
  // aspect-ratio: 5 / 4;
  img {
    width: 90%;
  }
  // &::before {
  //   content: url(../img/vague.svg);
  //   display: block;
  //   z-index: 61;
  //   width: 20%;
  //   position: absolute;
  //   left: -5%;
  //   bottom: 20%;
  // }
  // &::after {
  //   content: '';
  //   width: 30%;
  //   aspect-ratio: 1;
  //   background: $gradient;
  //   position: absolute;
  //   right: -8%;
  //   top: -5%;
  //   z-index: -1;
  //   border-radius: 50%;
  // }
}

.shake_it {
  animation: shake ease-in-out;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transform: translateY(-5px);
}

@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

section {
  .container {
    padding: 2rem 0;
  }
}

// svg application animation start

#checklist, #web_x5F_link {
  animation-name: shake;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transform: translateY(-5px);
}

#nine {
  animation-name: shake;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  transform: translateY(-5px);
}

@keyframes shake{
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(-5px);
  }
}


#hand_x5F_cursor {
  animation-name: diagonal_shake;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transform: translate(-5px, -5px);
}

@keyframes shake{
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(-5px);
  }
}

@keyframes diagonal_shake{
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
  0% {
    transform: translate(-5px, -5px);
  }
}
// svg application animation end

@media (max-width: 991px) {
  nav {
    background-color: $blue;
    .logo {
      display: none;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: .5rem 0;
        }
      }
    }
    .btn {
      display: none;
    }
  }
  nav.navbar-scrolled {
    background-color: $blue;
    .logo {
      display: none;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: .5rem 0;
        }
        a {
          color: $white;
        }
      }
    }
    .navbar-toggler {
      color: $white;
    }
    .btn {
      display: none;
      // background: $gradient;
      color: $white;
      border: 2px solid $white;
      &:hover {
        color: $white;
      }
    }
  }
}

#services {
  i {
    font-size: 2rem;
  }
}

// @media (max-width: 768px) {
//   height: 60vw;
// }


#image-slider {
  .splide__slide img {
    width: 100%;
    height: auto;
  }

  .splide__pagination {
    bottom: -2em;
  }
}
