@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interregular';
  src: url("../fonts/inter-regular-webfont.woff2") format("woff2"), url("../fonts/inter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: "poppinssemibold";
}

h2.title {
  color: #000;
}

h3.title {
  font-size: 1.5rem;
  color: #000;
}

.section_about {
  font-style: italic;
  color: #000;
}

ul.listing {
  padding-left: 0;
}

ul.listing li {
  list-style: none;
  position: relative;
  padding-left: 1rem;
}

ul.listing li::before {
  content: '';
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#ea6216), to(#f7c100));
  background: linear-gradient(90deg, #ea6216 0%, #f7c100 100%);
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
}

ul.listing li:not(:last-of-type) {
  margin-bottom: .5rem;
}

body {
  overflow-x: hidden;
  font-family: "interregular";
  color: #767676;
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 0;
}

* {
  scrollbar-width: none;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.custom-cursor {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 2000;
  top: -40px;
  left: -40px;
  pointer-events: none;
}

.cursor__small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E43126;
  z-index: 5;
  margin: -5px 0 0 -5px;
}

.cursor__big {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #E43126 2px solid;
  z-index: 1;
  opacity: 1;
  margin: -40px 0 0 -40px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 320ms cubic-bezier(0.26, 0.01, 0.17, 1);
  transition: all 320ms cubic-bezier(0.26, 0.01, 0.17, 1);
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

header .header_background {
  background-image: url(../img/network.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

header #animated_logo {
  max-width: 200px;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.164));
          filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.164));
}

header h1 {
  color: #FFF;
}

header .container h1 {
  max-width: 30rem;
  font-size: 1.5rem;
}

nav {
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: .8rem;
}

nav .navbar-brand {
  color: #FFF;
}

nav .navbar-nav .nav-item a {
  color: #FFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .navbar-nav .nav-item a:hover {
  color: #cacaca;
}

nav .navbar-nav .nav-item .nav-link {
  padding: 1.2rem .5rem;
}

nav .btn {
  font-size: .8rem;
  color: #FFF;
  border: 2px solid #FFF;
}

nav .btn:hover {
  color: #FFF;
}

nav .logo {
  max-width: 100px;
}

nav .logo_dark {
  display: none;
}

nav .navbar-toggler {
  color: #FFF;
}

nav.navbar-scrolled {
  background-color: #FFF;
}

nav.navbar-scrolled .navbar-nav .nav-item a {
  color: #000;
}

nav.navbar-scrolled .navbar-nav .nav-item a:hover {
  color: #cacaca;
}

nav.navbar-scrolled .btn {
  font-size: .8rem;
  color: #26c3a0;
  border: 2px solid #26c3a0;
}

nav.navbar-scrolled .btn:hover {
  color: #26c3a0;
}

nav.navbar-scrolled .logo_light {
  display: none;
}

nav.navbar-scrolled .logo_dark {
  display: block;
}

nav.navbar-scrolled .navbar-toggler {
  color: #000;
}

.navbar-toggler {
  padding: .5rem 0;
  border-color: #FFF;
  border-width: 2px 0;
  border-radius: 0;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app_img img {
  width: 90%;
}

.shake_it {
  -webkit-animation: shake ease-in-out;
          animation: shake ease-in-out;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

section .container {
  padding: 2rem 0;
}

#checklist, #web_x5F_link {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#nine {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

#hand_x5F_cursor {
  -webkit-animation-name: diagonal_shake;
          animation-name: diagonal_shake;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes diagonal_shake {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
}

@keyframes diagonal_shake {
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  0% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
}

@media (max-width: 991px) {
  nav {
    background-color: #26c3a0;
  }
  nav .logo {
    display: none;
  }
  nav .navbar-nav .nav-item .nav-link {
    padding: .5rem 0;
  }
  nav .btn {
    display: none;
  }
  nav.navbar-scrolled {
    background-color: #26c3a0;
  }
  nav.navbar-scrolled .logo {
    display: none;
  }
  nav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    padding: .5rem 0;
  }
  nav.navbar-scrolled .navbar-nav .nav-item a {
    color: #FFF;
  }
  nav.navbar-scrolled .navbar-toggler {
    color: #FFF;
  }
  nav.navbar-scrolled .btn {
    display: none;
    color: #FFF;
    border: 2px solid #FFF;
  }
  nav.navbar-scrolled .btn:hover {
    color: #FFF;
  }
}

#services i {
  font-size: 2rem;
}

#image-slider .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-slider .splide__slide img {
  width: 100%;
  height: auto;
}

#image-slider .splide__pagination {
  bottom: -2em;
}

#valeurs .splide__track {
  position: relative;
}

#valeurs .splide__track::before {
  content: url(../img/quote.svg);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3rem;
  opacity: .06;
}

#valeurs .splide__track::after {
  content: url(../img/quote.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 3rem;
  opacity: .06;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#valeurs .splide__track .splide__slide h3 {
  text-align: center;
}

#valeurs .splide__track .splide__slide p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 30px;
  margin-bottom: .8rem;
  font-style: italic;
  font-weight: 100;
}

#valeurs .splide__track .splide__slide span {
  display: block;
  text-align: center;
}

#valeurs .splide__arrows .splide__arrow--prev {
  left: -3em !important;
}

#valeurs .splide__arrows .splide__arrow--next {
  right: -3em !important;
}

#valeurs .splide__pagination {
  bottom: -1.5em;
}

.splide__pagination__page.is-active {
  background: #ea6216;
}

h1#text {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
}

h1#text::after {
  content: '';
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 4px;
  width: 15px;
  -webkit-animation: cursor 0.4s infinite;
          animation: cursor 0.4s infinite;
}

/* The typewriter cursor effect */
@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.competence_content p {
  margin: 0 0 0 10px;
}

.competence_content div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_footer {
  max-width: 150px;
}

.footer {
  background-color: #f9f9f9;
}

.footer .container {
  max-width: 800px;
}

.footer .container h4 {
  color: #000;
}

.footer .container ul {
  padding: 0;
}

.footer .container ul li {
  list-style: none;
}

.footer .container ul li a {
  color: #767676;
  text-decoration: none;
}

.cta {
  background-color: #26c3a0;
}

.cta .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.cta .container p {
  margin: 0;
  font-size: 1.5rem;
  color: #FFF;
}

.cta .container .btn {
  font-size: 1.5rem;
  color: #FFF;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#ea6216), to(#f7c100));
  background: linear-gradient(90deg, #ea6216 0%, #f7c100 100%);
}

.cta .container .btn:hover {
  color: #FFF;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#services {
  background-color: #f9f9f9;
}
/*# sourceMappingURL=style.css.map */