body {
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
}

* {
    scrollbar-width: none;
}

.finisher-header {
    display: flex;
    align-items: center;
    justify-content: center;
    #animated_logo {
        width: 200px;
    }
}